html {
    font-size: calc(15px + 0.390625vw);
}

body {
    font-family: "Cabin", sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
}

.titulo {
    font-size: 1rem;
    font-weight: bold;
    font-family: Comfortaa;
    margin-right: 30px;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.navigation {
    flex: 1;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 10px 0;
    margin: 0;
}

.menu li a {
    font-family: Comfortaa;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.btn-login {
    font-family: Comfortaa;
    background-color: transparent;
    color: #fbbc05;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-started {
    font-family: Comfortaa;
    background-color: #fbbc05;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 0.9rem;
    cursor: pointer;
}

.texto-imagem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 1px;
}

.texto {
    flex: 1;
    text-align: left;
}

.celular-container img {
    max-width: 70%;
    height: auto;
    width: 70%;
}

.texto h2 {
    font-size: 1.7rem;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
    margin: 10px;
}

.texto p {
    font-size: 0.7rem;
    color: #000000;
    margin-bottom: 20px;
    font-family: Quicksand, sans-serif;
    text-align: left;
    margin: 10px;
}

.store-buttons {
    display: flex;
    justify-content: column;
    gap: 10px;
    margin: 10px;
}

.store-buttons button {
    font-family: Comfortaa, sans-serif;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 0.9rem;
    cursor: pointer;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 20px;
}

.banner {
    flex: 1 1 45%;
    text-align: center;
}

.hero {
    max-width: 100%;
    height: auto;
}

.bannertext {
    flex: 1 1 45%;
    text-align: left;
    padding: 20px;
    max-width: 600px;
}

.bannertext h1 {
    font-family: Comfortaa, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.bannertext p {
    font-family: Quicksand, sans-serif;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
    }

    .bannertext,
    .banner {
        flex: 1 1 100%;
        text-align: center;
    }

    .bannertext {
        padding: 0;
    }

    .feature-item {
        text-align: center;
    }

    .celular-container img {
        width: 70%;
    }
}
